<html>
  <head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

    window.onload = function () {
      var chart2 = new CanvasJS.Chart("chartContainer2", {
        title:{
          text: " Polarite"
        },
        data: [
        {
          // Change type to "doughnut", "line", "splineArea", etc.
          type: "doughnut",

          dataPoints: [
                  {% for mykey,myvalue in polarite.items %}
                    { label:'{{ mykey }}', y:'{{ myvalue }}' },
                  {% endfor %}
          ]
        }
        ]
      });
      chart2.render();

      var chart = new CanvasJS.Chart("chartContainer", {
    title:{
      text: "Zaman Çizelgesi"
    },
    data: [
    {
      // Change type to "doughnut", "line", "splineArea", etc.
      type: "splineArea",
      dataPoints: [

                { label: "00:01 - 02:00",  y: {{ zaman.0 }}   },
                { label: "02:01 - 04:00",  y: {{ zaman.2 }}   },
                { label: "04:01 - 06:00",  y: {{ zaman.4 }}   },
                { label: "06:01 - 08:00",  y: {{ zaman.6 }}   },
                { label: "08:01 - 10:00",  y: {{ zaman.8 }}   },
                { label: "10:01 - 12:00",  y: {{ zaman.10 }}  },
                { label: "12:01 - 14:00",  y: {{ zaman.12 }}  },
                { label: "14:01 - 16:00",  y: {{ zaman.14 }}  },
                { label: "16:01 - 18:00",  y: {{ zaman.16 }}  },
                { label: "18:01 - 20:00",  y: {{ zaman.18 }}  },
                { label: "20:01 - 22:00",  y: {{ zaman.20 }}  },
                { label: "22:01 - 00:00",  y: {{ zaman.22 }}  },
      ]
    }
    ]
  });
  chart.render();






    }

    </script>
  </head>

  <body>
  <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  </body>
</html>
